info.app:
  name: '@project.name@'
  description: '@project.description@'
  version: '@project.version@'

management:
  endpoints:
    flyway:
      enabled: true

spring:
  datasource:
    jdbc-url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: password
    database-platform: org.hibernate.dialect.H2Dialect

  flyway:
    locations: "classpath:db/migration"

  devtools:
    restart:
      additional-paths: "static/**"
#      trigger-file: "static/bikes.js"

# Enables static content to be reloaded when the browser is refreshed, supposedly
  resources:
    static-locations:
      - file:src/main/resources/static/
      - classpath:/static/
logging:
  config: classpath:logback.xml
  level.root: INFO

security:
  csp:
    enabled: false
    policy: "default-src 'self'"