<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<title>Injection attach index page</title>
<head>
	<script type="text/javascript" charset="UTF-8" src="resources/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="resources/InsecureUtils.js"></script>
	<style type="text/css">
		.hide {
			display:none;
		}
		.show {
			display:inline;
		}
      	.inputField {
      		width: 300px;
        }
	</style>
</head> 	
<body>
	<ul>
		<li><a href="jdbc-multiple-statements.html">JDBC Connection with multiple statements per execution</a></li>
	</ul>
	<form action="resetDatabase" method="get">
		<label>Reset the database to its original state</label>
		<input type="submit" value="Reset"/>
	</form>
</body>
</html>